<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
				<li class="active">Đăng ký</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Đăng ký</h3>
			
			<div class="login-form-grids">
				<h5 class="animated wow slideInUp" data-wow-delay=".5s">Thông tin cá nhân</h5>
				<form class="animated wow slideInUp" data-wow-delay=".5s">
					<input type="text" placeholder="Tên đầu..." required=" " >
					<input type="text" placeholder="Tên cuối..." required=" " >
				</form>
				<div class="register-check-box animated wow slideInUp" data-wow-delay=".5s">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Đăng ký để nhận thông tin mới</label>
					</div>
				</div>
				<h6 class="animated wow slideInUp" data-wow-delay=".5s">Thông tin đăng nhập</h6>
				<form class="animated wow slideInUp" data-wow-delay=".5s">
					<input type="email" placeholder="Địa chỉ Email" required=" " >
					<input type="password" placeholder="Mật khẩu" required=" " >
					<input type="password" placeholder="Nhập lại mật khẩu" required=" " >
					<div class="register-check-box">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Tôi chấp nhận các điều khoản và điều kiện</label>
						</div>
					</div>
					<input type="submit" value="Đăng ký">
				</form>
			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="/home">Trang chủ</a>
			</div>
		</div>
	</div>
<!-- //register -->